body {
  margin: 0;
  overflow: hidden;
}

#upload-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#upload-container #drag-drop-input {
  background-color: #fff;
  box-sizing: border-box;
  border: 2px dashed #ccc;
  border-radius: 6px;
  text-align: center;
  padding: 120px;
}

#upload-container #drag-drop-input.dragging {
  border-color: #4368a9;
}

#canvas-container {
  width: 100%;
  height: 100%;
}

#setting-panel-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
  border-left: 1px solid #ccc;
  transition: 0.3s;
}

#setting-panel-container.closed {
  right: -300px;
}

#setting-panel-container .content {
  position: relative;
  width: 100%;
  height: 100%;
}

#setting-panel-container .content .hide-show-handle {
  position: absolute;
  width: 40px;
  height: 80px;
  background: white;
  top: calc(50% - 40px);
  left: -40px;
  background-image: url('./lib/caret-right.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

#setting-panel-container.closed .content .hide-show-handle {
  background-image: url('./lib/caret-left.svg');
}